.bike-container{
    display:grid;
}

.bike-container img{
    height:200px;
    width:260px;
}

.description{
    background-color:rgba(196, 184, 184, 0.493);
    border-radius: 10px;
    padding: 10px;
}

.addCart-btn{
    border-radius:10px;
    border:0;
    background:rgb(230, 100, 77);
    color:#fff;
}

@media only screen and (max-width: 600px) {
.bike-container{
    align-items: center;
    justify-content: center;
}

}